<!--The whole content below can be removed with the new code.-->
<nav class="navbar navbar-inverse">
  <div class="container">
    <h1> Movie Quotes </h1>
  </div>
</nav>
<div class="container">
  <div class="well well-lg">
    <form (ngSubmit)="onSubmit()" #movieQuoteForm="ngForm">
      <div class="form-group">
        <input required type="text" class="form-control" placeholder="Quote" name="quote" [(ngModel)]="formMovieQuote.quote">
      </div>
      <br>
      <div class="form-group">
        <input required type="text" class="form-control" placeholder="from Movie" name="movie" [(ngModel)]="formMovieQuote.movie">
      </div>
      <p *ngIf="formMovieQuote.movie && formMovieQuote.quote">
        The best quote from <b> {{formMovieQuote.movie}} </b> is <b> "{{formMovieQuote.quote}}"</b>.
      </p>
      <button [disabled]="!movieQuoteForm.form.valid" type="submit" class="btn btn-default pull-right"> Submit </button>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
<hr>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Quote</th>
        <th>Movie</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movieQuote of movieQuotes"> 
        <th>{{movieQuote.quote}}</th>
        <th>{{movieQuote.movie}}</th>
      </tr>
    </tbody>
  </table>
</div>