img {
    height: 190px;
    width: auto;
    margin-bottom: 0;
    margin-top: 5px;
}

md-card {
    margin: 10px;
    md-card-title {
        padding: 5px 5px;
        margin: 5px;
    }

    md-card-actions {
        padding: 5px 5px;
    }
}