<!--The whole content below can be removed with the new code.-->
<nav class="navbar navbar-inverse">
  <div class="container">
    <h1> Jim Photos</h1>
  </div>
</nav>
<div class="container">
  <form (ngSubmit)="onSubmit()" #photoBucketForm="ngForm">
    <div class="well well-lg">
      <div class="form-group">
        <input required type="text" class="form-control" name="image url" placeholder="Image URL" [(ngModel)]="formPhoto.url">
      </div>
      <div class="form-group">
        <input required type="text" class="form-control" name="caption" placeholder="Caption" [(ngModel)]="formPhoto.caption">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default pull-right" [disabled]="!photoBucketForm.form.valid">
          {{formPhoto.$key ? 'Edit' : 'Submit'}}
        </button>
      </div>
      <div class="clearfix"></div>
    </div>
  </form>
</div>
<hr>
<div id="wrapper">
  <div id="columns">
    <div class="pin" *ngFor="let photo of photoStream | async">
      <div class="pull-right edit-actions">
        <button type="button" class="btn btn-success btn-xs">
          <span class="glyphicon glyphicon-pencil" (click)='edit(photo)'></span>
        </button>
        <button type="button" class="btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-trash" (click)='remove(photo.$key)'></span>
        </button>
      </div>
      <img [src]="photo.url" alt="A photo">
      <p class="caption">{{ photo.caption }}</p>
    </div>
  </div>
</div>