
  <h1>
    {{title}}
  </h1>
<hr>
<h2> Favorite Color </h2>
<div id = "box" [style.backgroundColor]="favoriteColor">{{favoriteColor}}</div>
<br>
<button type="button" (click) = "setColor('blue')"> Blue </button>
<button type="button" (click) = "setColor('green')"> Green </button>
<button type="button" (click) = "setColor('red')">Red </button>
<button type="button" (click) = "setColor('purple')"> Purple </button>
<button type="button" (click) = "setColor('#800000')"> Rose Red </button>
<br>
<button type="button" (click) = "updateColor()"> Update </button>
<hr>
<h2> Favorite Number = {{favoriteNumber}} </h2>
<button type="button" (click)="setNumber(favoriteNumber + 1)">Up</button>
<button type="button" (click)="setNumber(favoriteNumber - 1)">Down</button>
<button type="button" (click)="setNumber(0)">Reset</button>



<hr>
