<h1 md-dialog-title> Add a new password</h1>
<form #passwordForm="ngForm" fxLayout="column" (ngSubmit)="onSubmit()">
  <md-dialog-content fxFlex="100" fxLayout="column" fxLayoutAlign="none center">
    <md-input-container>
      <input mdInput required placeholder="Service name" 
      name="service" [(ngModel)]="formPassword.service">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Username" 
      name="username" [(ngModel)]="formPassword.username">
    </md-input-container>
    <md-input-container>
      <input mdInput required placeholder="Password" 
      name="password" [(ngModel)]="formPassword.password">
    </md-input-container>
  </md-dialog-content>
  <md-dialog-actions fxLayoutAlign="center center">
    <button md-button type="button" md-dialog-close> Cancel</button>
    <button md-button [disabled]="!passwordForm.form.valid" type="submit"> Save</button>
  </md-dialog-actions>
</form>
