<md-card>
  <md-card-title (click)="isExpanded=!isExpanded" fxLayoutAlign="none center">
    {{password.service}}
    <span fxFlex> </span>
    <button md-icon-button>
      <md-icon *ngIf="!isExpanded"> lock </md-icon>
      <md-icon *ngIf="isExpanded"> lock_open </md-icon>
    </button>
  </md-card-title>
  <div [@showPassword]="showPasswordState" class="hidden-content">
    <md-card-content>
      <div *ngIf="password.username" fxLayout>
        Username: <span fxFlex> </span>{{password.username}}<br>
      </div>
      <div fxLayout>
        Password: <span fxFlex> </span>{{password.password}}
      </div>
    </md-card-content>
    <md-card-actions fxLayoutAlign="end center">
      <button md-button class="edit-btn" type="button" (click)="edit()"> Edit </button>
      <button md-button class="delete-btn" type="button" (click)="remove()"> Remove </button>
    </md-card-actions>
  </div>
</md-card>
