$horz-padding: 20px;
md-card {
  md-card-title {
    padding: 10px $horz-padding;
    font-weight: normal;
    font-size: 24px;
  }
  md-card-content {
    padding: 10px $horz-padding;
    margin: 0;
    font-size: 16px;
  }
  md-card-actions {
    padding: 10px $horz-padding;
    .edit-btn {
      background-color: rgba(8, 152, 136, 0.1);
    }
    .delete-btn {
      background-color: rgba(255, 0, 0, 0.15);
    }
  }
}
