<h1 md-dialog-title>{{title}}</h1>
<form #photoForm="ngForm" fxLayout="column" (ngSubmit)="onSubmit()">
  <md-dialog-content fxFlex="5" fxLayout="column" fxLayoutAlign="none stretch">
    <md-input-container>
      <input mdInput required placeholder="Add an existing photo URL"
             name="service" [(ngModel)]="formPhoto.imageUrl">
    </md-input-container>
    <div fxLayout="row" fxLayoutAlign="end center">
      or &nbsp;&nbsp;
      <button md-raised-button type="button" (click)="imageInput.click()" color="accent">Upload a new image</button>
      <input style="display:none" #imageInput type="file" (change)="photoSelected($event)">
    </div>
    <md-input-container>
      <input mdInput placeholder="Caption"
             name="password" [(ngModel)]="formPhoto.caption">
    </md-input-container>
  </md-dialog-content>

  <md-dialog-actions fxLayoutAlign="end center">
    <button md-button type="button" md-dialog-close>Cancel</button>
    <button md-button [disabled]="!photoForm.form.valid" type="submit">Save</button>
  </md-dialog-actions>
</form>